<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="card shadow-sm rounded-4 p-md-4 p-2 pb-2" style="width: 40%">
    <div class="card-body">
      <h3 class="card-title text-start mb-1 fw-bold">
        <span *ngIf="this.showLogin">Welcome back</span>
        <span *ngIf="!this.showLogin">Create an account</span>
      </h3>
      <p class="text-start text-muted mb-4">
        <span *ngIf="this.showLogin">Enter your email to sign in to your account</span>
        <span *ngIf="!this.showLogin">Enter your email below to create your account</span>
      </p>
      <form [formGroup]="this.userForm" (submit)="login()">
        <div *ngIf="this.errorMessage">
          <span class="text-danger fw-semibold">{{this.errorMessage}}</span>
        </div>
        <div class="mb-3" *ngIf="!this.showLogin">
          <label for="email" class="form-label fw-semibold">Name</label>
          <input (ngModelChange)="onFieldChange()" formControlName="name" type="text" class="form-control" id="name"
            placeholder="John Doe" required />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label fw-semibold">Email</label>
          <input formControlName="email" type="email" class="form-control" id="email" placeholder="m@example.com"
            required (ngModelChange)="onFieldChange()" />
          <div *ngIf="userForm.get('email')?.invalid && this.formSubmitted">
            <small *ngIf="userForm.get('email')?.errors?.['required']" class="text-danger fw-semibold">Email is
              required.</small>
            <small *ngIf="userForm.get('email')?.errors?.['email']" class="text-danger fw-semibold">Enter a valid email
              address.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label fw-semibold">Password</label>
          <input (ngModelChange)="onFieldChange()" formControlName="password" type="password" class="form-control"
            id="password" placeholder="Enter your password" required />
          <div *ngIf="userForm.get('password')?.invalid && this.formSubmitted">
            <small *ngIf="userForm.get('password')?.errors?.['required']" class="text-danger fw-semibold">Password is
              required.</small>
            <small *ngIf="userForm.get('password')?.errors?.['minlength']" class="text-danger fw-semibold">
              Password must be at least {{ userForm.get('password')?.errors?.['minlength'].requiredLength }} characters.
            </small>
          </div>

        </div>
        <div class="mb-3" *ngIf="!this.showLogin">
          <label for="password" class="fw-semibold">Confirm Password</label>
          <input (ngModelChange)="onFieldChange()" formControlName="confirmPassword" type="password"
            class="form-control" id="confirm-password" required />

          <div *ngIf="formSubmitted && userForm.errors?.['passwordMismatch']">
            <small class="form-label fw-semibold">Passwords do not match.</small>
          </div>
        </div>
        <button type="submit" class="btn btn-primary w-100 fw-semibold">
          <span *ngIf="this.showLogin">Sign in</span>
          <span *ngIf="!this.showLogin">Sign up</span>
        </button>
      </form>
      <div class="d-flex align-items-center">
        <hr class="flex-grow-1" />
        <span class="text-muted mx-2" style="font-size: 0.8rem;">OR CONTINUE WITH</span>
        <hr class="flex-grow-1" />
      </div>
      <div class="d-flex justify-content-between gap-3">
        <button type="button" class="btn flex-grow-1" style="border: 1px solid rgb(194, 194, 194)"
          (click)="loginWithGoogle()">
          <svg width="20px" height="20px" viewBox="-3 0 262 262" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path
                d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"
                fill="#4285F4"></path>
              <path
                d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"
                fill="#34A853"></path>
              <path
                d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"
                fill="#FBBC05"></path>
              <path
                d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"
                fill="#EB4335"></path>
            </g>
          </svg>
          <span class="ms-2">Google</span>
        </button>

        <button type="button" class="btn flex-grow-1" style="border: 1px solid rgb(194, 194, 194)"
          (click)="loginWithDropbox()">
          <svg width="20px" height="20px" viewBox="0 -1.5 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000000">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <title>Dropbox-color</title>
              <desc>Created with Sketch.</desc>
              <defs> </defs>
              <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Color-" transform="translate(-800.000000, -363.000000)" fill="#0F82E2">
                  <path
                    d="M824,389.033255 L814.1195,397.34573 L800,388.053538 L809.7635,380.17347 L823.999971,389.033238 L838.2362,380.172109 L847.9997,388.05369 L833.8802,397.345881 L823.9997,389.033406 Z M814.1198,363 L800.0003,372.292191 L809.7638,380.17226 L824.0003,371.312475 L814.1198,363 Z M824.02895,390.821692 L814.11995,399.109976 L809.87945,396.318993 L809.87945,399.447132 L824.02895,408 L838.17845,399.447132 L838.17845,396.318993 L833.93795,399.109976 L824.02895,390.821692 Z M848,372.292343 L833.8805,363.000151 L824,371.312626 L838.2365,380.172411 L848,372.292343 Z"
                    id="Dropbox"> </path>
                </g>
              </g>
            </g>
          </svg>
          <span class="ms-2">Dropbox</span>
        </button>

      </div>
      <div class="mt-4 text-center">
        <a  class=" text-decoration-none " style="font-size: 0.95rem;">
          <div *ngIf="this.showLogin">
            <span class="text-muted">Don't have an account?</span>
            <span class="ms-1" style="cursor: pointer;" (click)="this.toggleFormMode()">Sign up</span>
          </div>
          <div *ngIf="!this.showLogin">
            <span class="text-muted">Already have an account?</span>
            <span style="cursor: pointer;" class="ms-1" (click)="this.toggleFormMode()">Sign in</span>
          </div>
        </a>
      </div>
      <hr class="mt-4" style="margin-left: -2.5rem; margin-right: -2.5rem;" />
      <div class="text-center">
        <a [routerLink]="'/convert'" class="text-decoration-none" style="font-size: 1.05rem;">
          <span>Continue without signing in</span>
          <svg class="ms-1" width="18px" height="18px" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="0.6">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M13.4697 5.46967C13.7626 5.17678 14.2374 5.17678 14.5303 5.46967L20.5303 11.4697C20.8232 11.7626 20.8232 12.2374 20.5303 12.5303L14.5303 18.5303C14.2374 18.8232 13.7626 18.8232 13.4697 18.5303C13.1768 18.2374 13.1768 17.7626 13.4697 17.4697L18.1893 12.75H4C3.58579 12.75 3.25 12.4142 3.25 12C3.25 11.5858 3.58579 11.25 4 11.25H18.1893L13.4697 6.53033C13.1768 6.23744 13.1768 5.76256 13.4697 5.46967Z"
                fill="currentColor"></path>
            </g>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>