<style>
    .user-info-container span {
        color:#444444;
    }

    /* .user-info-container {
        background-color: rgba(241, 241, 241, 0.691);
        border-top: 1px solid rgb(192, 192, 192);
    } */
</style>

<div class="container my-4">
    <!-- Back to Dashboard + Heading -->
    <div class="d-flex align-items-start mb-4 flex-column">
        <a href="#" class="btn btn-link px-0 mr-3 text-decoration-none fw-600">
            <svg class="mb-1" width="20px" height="20px" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg"
                fill="#0061ff" stroke="#0061ff" stroke-width="20.48">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path fill="#0061ff" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path>
                    <path fill="#0061ff"
                        d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z">
                    </path>
                </g>
            </svg>
            <span class="ms-2">Back to Dashboard</span>
        </a>
        <h3 class="mt-4 fw-semibold">Settings</h3>
        <span class="text-muted">Manage your account settings and preferences</span>
    </div>

    <!-- Tabs for different settings sections -->
    <ul class="nav nav-tabs d-none" id="settingsTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="account-tab" data-toggle="tab" href="#account" role="tab"
                aria-controls="account" aria-selected="true">
                Account
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="preferences-tab" data-toggle="tab" href="#preferences" role="tab"
                aria-controls="preferences" aria-selected="false">
                Preferences
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab"
                aria-controls="notifications" aria-selected="false">
                Notifications
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab" aria-controls="security"
                aria-selected="false">
                Security
            </a>
        </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content" id="settingsTabContent">
        <!-- Account Tab -->
        <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
            <!-- Account Information Card -->
            <div class="card mt-4">
                <div class="card-body">
                    <h3 class="card-title">Account Information</h3>
                    <p class="text-muted mb-4">Your personal information and account details</p>


                    <div class="d-flex flex-column ">
                        <div class="row d-flex user-info-container" >
                            <div class="col-4 d-flex pb-3 " style="border: 2p solid black !important">
                                <svg width="20px" height="20px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="#444444"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>ionicons-v5-j</title><path d="M344,144c-3.92,52.87-44,96-88,96s-84.15-43.12-88-96c-4-55,35-96,88-96S348,90,344,144Z" style="fill:none;stroke:#444444;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"></path><path d="M256,304c-87,0-175.3,48-191.64,138.6C62.39,453.52,68.57,464,80,464H432c11.44,0,17.62-10.48,15.65-21.4C431.3,352,343,304,256,304Z" style="fill:none;stroke:#444444;stroke-miterlimit:10;stroke-width:32px"></path></g></svg>
                                <span class="ms-1 ">Name</span>
                            </div>
                            <div class="col-8 bg-white justify-content-center">
                                <p class="m-0 p-0">{{this.userInfo.username}}</p>
                            </div>
                        </div>

                        <div class="row d-flex user-info-container" >
                            <div class="col-4 d-flex pb-3" >
                                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M3.75 5.25L3 6V18L3.75 18.75H20.25L21 18V6L20.25 5.25H3.75ZM4.5 7.6955V17.25H19.5V7.69525L11.9999 14.5136L4.5 7.6955ZM18.3099 6.75H5.68986L11.9999 12.4864L18.3099 6.75Z" fill="#444444"></path> </g></svg>
                                <span class="ms-1" >Email</span>
                            </div>
                            <div class="col-8 bg-white">
                                <p class="mb-0">{{this.userInfo.email}}</p>
                            </div>
                        </div>

                        <div class="row d-flex user-info-container" >
                            <div class="col-4 d-flex pb-3 " >
                                <span class="ms-1">Sign-up Method</span>
                            </div>
                            <div class="col-8 bg-white">
                                <p class="mb-0" *ngIf="this.userInfo.providers.length > 0">
                                    {{this.userInfo.providers[0].provider}}
                                </p>
                                <p class="mb-0" *ngIf="this.userInfo.providers.length == 0">
                                    Email
                                </p>
                            </div>
                        </div>

                        <div class="row d-flex user-info-container" >
                            <div class="col-4 d-flex pb-3 " >
                                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 7V12H15M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#444444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                                <span class="ms-1">Last Login</span>
                            </div>
                            <div class="col-8 bg-white">
                                <p class="mb-0">{{this.userInfo.lastLogin | date: "MMMM d, y 'at' h:mm a"}}</p>
                            </div>
                        </div>

                        <div class="row d-flex user-info-container" >
                            <div class="col-4 d-flex " >
                                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M3 10H21M7 3V5M17 3V5M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="#444444" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                                <span class="ms-1">Registered On</span>
                            </div>
                            <div class="col-8 bg-white">
                                <p class="mb-0">{{this.userInfo.created | date: 'MMMM d, y'}}</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Danger Zone Card -->
            <div class="card mt-4 p-2" style="border: 0.5px solid red">
                <div class="card-body">
                    <h3 class="card-title text-danger p-0 m-0 fw-semibold">Danger Zone</h3>
                    <small class="text-danger">Irreversible account actions</small>
                    <div class="d-flex justify-content-between mt-4">
                        <div class="d-flex flex-column">
                            <h6 class="p-0 m-0">Delete account</h6>
                            <small class="text-muted">Permanently delete your account and all associated data.</small>
                        </div>
                        <button class="btn btn-danger">Delete Account</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Preferences Tab (placeholder) -->
        <div class="tab-pane fade" id="preferences" role="tabpanel" aria-labelledby="preferences-tab">
            <!-- Preferences content goes here -->
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Preferences</h2>
                    <p>Settings related to your personal preferences.</p>
                </div>
            </div>
        </div>

        <!-- Notifications Tab (placeholder) -->
        <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
            <!-- Notifications content goes here -->
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Notifications</h2>
                    <p>Manage your notification settings.</p>
                </div>
            </div>
        </div>

        <!-- Security Tab (placeholder) -->
        <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
            <!-- Security content goes here -->
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Security</h2>
                    <p>Manage your security settings.</p>
                </div>
            </div>
        </div>
    </div>
</div>